/* Write your CSS code here */

.list-item {
  display: flex;
  flex-direction: column;
  width: 97%;
  justify-content: center;
  list-style-type: none;
  border-bottom: 2px solid #9aa5b1;
}

@media screen and (min-width: 768px) {
  .list-item {
    width: 75%;
  }
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 22px;
  }
}

.date {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 17px;
}

@media screen and (min-width: 768px) {
  .date {
    font-size: 19px;
  }
}

.description {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 18px;
  }
}
